<div align="center">
  <form action="/tasks/{{task.id}}" method="post">

    <div>
      <h3>Edit Task:</h3>
      <h2>{{task.task}}</h2>
    </div>
    <div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <span>
          <input required type="text" name="task" value="{{task.task}}" maxlength="50" class="mdl-textfield__input" id="task-task">
          <label class="mdl-textfield__label" for="task-task">Task Name</label>
        </span>
      </div>
    </div>
    <div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input required class="mdl-textfield__input" name="estimatedTime" value="{{task.estimatedTime}}" type="number" min="1" max="450" pattern="-?[0-9]*(\.[0-9]+)?" id="task-EstimatedTime">
        <label class="mdl-textfield__label" for="task-EstimatedTime">Estimated Time (minutes)</label>
        <span class="mdl-textfield__error">Please write a number between 1 and 450</span>
      </div>
    </div>
    <div>
      <div id="dateInput" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="task-dueDate">Due Date</label>
        <input id="dater" type="date" name="dueDate" value="{{task.dueDate}}" class="mdl-textfield__input" id="task-dueDate" placeholder="Due Date" min="2018-07-20" max="2020-07-20">
      </div>
      <div>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea required class="mdl-textfield__input" name="objc" value="{{task.objc}}" maxlength="140" type="text" rows= "3" id="task-objective" >{{task.objc}}</textarea>
        <label class="mdl-textfield__label" for="task-objective">Learning Objective</label>
        <div class="mdl-tooltip" data-mdl-for="task-objective">What will you learn from completing this task?</div>
      </div>
    </div>
    <div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input required class="mdl-textfield__input" name="badc" value="{{task.badc}}" maxlength="100" type="text" id="task-consequence">
        <label class="mdl-textfield__label" for="task-consequence">Incompletion Consequence</label>
        <div class="mdl-tooltip" data-mdl-for="task-consequence">What is a bad consequence for not completing this task?</div>
      </div>
    </div>
    <div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input required class="mdl-textfield__input" name="rewar" value="{{task.rewar}}" maxlength="80" type="text" id="task-reward">
        <label class="mdl-textfield__label" for="task-reward">Instant Reward</label>
        <div class="mdl-tooltip" data-mdl-for="task-reward">What is your instant reward from completing this task?</div>
      </div>
    </div>
    <h6> Rate Urgency:</h6>
    <div id="urgency" style="margin-bottom: 20px;">
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
        <input type="radio" id="option-1" class="mdl-radio__button" name="urgency" value="1">
        <span class="mdl-radio__label">Kind of Important</span>
      </label>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
        <input type="radio" id="option-2" class="mdl-radio__button" name="urgency" value="2" checked>
        <span class="mdl-radio__label">Pretty Important</span>
      </label>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
        <input type="radio" id="option-3" class="mdl-radio__button" name="urgency" value="3">
        <span class="mdl-radio__label">My life depends on this...</span>
      </label>
    </div>
    <div>
      <div class="container-header">
          <button type="save" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Save</button>
          <a href="/tasks/{{task.id}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Cancel</a>
          <a href="/tasks/{{task.id}}/delete" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect delete-btn">Delete</a>
      </div>
    </div>
  </form>
</div>
