<div align="center">
  <form action="/tasks/{{task.id}}" method="post">
    <h3>Edit Task Form</h3>
      <div class="form-group">
        <label for="task-task">Task Name</label>
        <input type="text" name="task" value="{{task.task}}" class="form-control" id="task-task" placeholder="Task Name">
      </div>

      <div class="form-group">
        <label for="task-estimatedTime">Estimated Time (minutes)</label>
        <input type="number" value="{{task.estimatedTime}}" name="estimatedTime" class="form-control" id="task-estimatedTime" placeholder="EstimatedTime">
      </div>

      <div class="form-group">
        <label for="task-dueDate">Due Date</label>
        <input type="date" value="{{task.dueDate}}" name="dueDate" class="form-control" id="task-dueDate" placeholder="Due Date">
      </div>

      <div class="form-group">
        <label id ="task-objc">Learning Objective</label>
        <input type="text" value="{{task.objc}}" name="objc" class="form-control" id="task-objc" placeholder="What will you learn from completing this task?">
      </div>
          <div class="mdl-tooltip" data-mdl-for="task-objective">What will you learn from completing this task?
          </div>

      <div class="form-group">
        <label id="task-badc">Bad Consequence</label>
        <input type="text" value="{{task.badc}}" name="badc" class="form-control" id="task-badc" placeholder="What is a bad consequence from not completing this task?">
      </div>
        <div class="mdl-tooltip" data-mdl-for="task-consequence">What is a bad consequence from not completing this task?
        </div>

      <div class="form-group">
        <label id="task-rewar">Instant Reward</label>
        <input type="text" value="{{task.rewar}}" name="rewar" class="form-control" id="task-rewar" placeholder="What is your intant reward from completing this task?">
      </div>
      <div class="mdl-tooltip" data-mdl-for="task-reward">What is your instant reward from completing this task?
      </div>

      <div class="container-header">
        <div class="text-left">
        <button type="save" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Save</button>
        </div>

      <div class="text-right">
          <button type="delete" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Delete</button>
      </div>
    </div>
</div>
</form>
