<div align="center">
  <h1>Current Tasks to Complete</h1>
</div>
<button type="button" id="sss" class="mdl-button" onclick="test()">???</button>
<script type="text/javascript">
function test() {
  function GetFormattedDate() {
    var todayTime = new Date();
    var month = format(todayTime .getMonth() + 1);
    var day = format(todayTime .getDate());
    var year = format(todayTime .getFullYear());
    return month + "/" + day + "/" + year;
  }
  console.log(GetFormattedDate());

}
</script>
<div>
  <div id="resulte"></div>
</div>
<div class="container-list">
  {{#each task as |task|}}
    {{#if taskcomplete}}
    {{else}}
      <div class="flex">
        <div class="first" align="left">
          <a href="/tasks/{{task.id}}/confirm" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Complete Task
          </a>
        </div>
        <div class="second" align="center">
            <a href="/tasks/{{task.id}}" class="mdl-data-table__cell--non-numeric">{{task.task}}</a>
        </div>

        <div class="third" align="right">
          <p>Estimated Time: {{task.dueDate}}</p>
        </div>
      </div>
    {{/if}}
  {{/each}}
  <div align="center">
    <a href="/completed" class="lg-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">View Completed Tasks</a>
  </div>
</div>
<script>
  $("form").click(function(){
    function now() {
    console.log('Click!');
    }
    function wait() {
      document.getElementById("completed").submit();
      console.log('Wait a second...');
    }
    now();
    setTimeout(wait, 2000);
  });

  $("sss").click(function(){
    function now() {
    console.log('dates');
    }
    function wait() {
      document.getElementById("completed").submit();
      console.log('Wait a second...');
    }
    now();
    setTimeout(wait, 2000);
  });
function GetFormattedDate() {
    const todayTime = new Date();
    const monthe = format(todayTime.getMonth() + 1);
    const daye = format(todayTime.getDate());
    const yeare = format(todayTime.getFullYear());
    return (monthe + "/" + daye + "/" + yeare);
}

function myfunctione()
{
  const dae = format(GetFormattedDate());
  const todayTime = new Date();
  const monthe = format(todayTime.getMonth() + 1);
  const daye = format(todayTime.getDate());
  const yeare = format(todayTime.getFullYear());
  return (monthe + "/" + daye + "/" + yeare);
  console.log("Current date: " + monthe + "/" + daye + "/" + yeare);
document.getElementById("resulte").innerHTML = "Current date: " + monthe + "/" + daye + "/" + yeare;

}

document.getElementById('sss').addEventListener('click', myfunctione);
</script>

<style>
  /* .container-list div {
    width: 33%;
    text-overflow: ellipsis;
    margin: 20px;
  } */
  .containter-list {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
  }
  .flex {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
  }
  .first {
    width: 33%;
  }
  .second {
    width: 33%;
  }
  .third {
    width: 33%;
  }
</style>
