<div align="center">
  <h3>Current Tasks to Complete</h3>
</div>
<table class="fullTable mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Task</th>
      <th>Due Date</th>
      <th>Estimated Time</th>
      <div align="center">
        <th>Complete Task</th>
      </div>
    </tr>
  </thead>
  <tbody>
    {{#each task as |task|}}
    {{#unless task.completed}}
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><a href="/tasks/{{task.id}}" class="urgency-{{task.urgency}} mdl-button mdl-js-button">{{task.task}}</a></td>
      {{#if task.dueDate}}
      <td>
        {{task.dueDate}}
      </td>
      {{else}}
      <td>unknown</td>
      {{/if}}
      <td>{{task.estimatedTime}} minutes</td>
      <td>
        <a href="/tasks/{{task.id}}/confirm" class="leftMove mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
           Complete Task
        </a>
      </td>
    </tr>

    {{/unless}}
    {{/each}}
  </tbody>
</table>


<!-- <div align="center">
  <h1>Current Tasks to Complete</h1>
</div>
<div id="flexcontainer" align="center">
<div width="%60" class="container-list">
  {{#each task as |task|}}
    {{#unless task.completed}}
      <div class="flex">
        <div class="first" align="left">
          <a href="/tasks/{{task.id}}/confirm" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Complete Task
          </a>
        </div>
        <div class="second" align="center">
          <a href="/tasks/{{task.id}}" class="mdl-button mdl-js-button">{{task.task}}</a>
        </div>

        {{#if task.dueDate}}
        <div class="third" align="right">
          <p>Due date: {{task.dueDate}}</p>
        </div>
        {{else}}
        <div class="third" align="right">
          <p>Due date: unknown</p>
        </div>
        {{/if}}

        <div class="third" align="right">
          <p>Estimated Time: {{task.estimatedTime}} minutes</p>
        </div>
      </div>
    {{/unless}}
  {{/each}}
</div>

  <div align="center">
    <!-- <a href="/completed" class="lg-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">View Completed Tasks</a> -->
  </div>
</div>
</div>
<script>
  $("form").click(function(){
    function now() {
    console.log('Click!');
    }
    function wait() {
      document.getElementById("completed").submit();
      console.log('Wait a second...');
    }
    now();
    setTimeout(wait, 2000);
  });
</script>

<style>
  /* .container-list div {
    width: 33%;
    text-overflow: ellipsis;
    margin: 20px;
  } */
  .containter-list {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
  }
  .flex {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
  }
  .first {
    width: 33%;
    text-overflow: ellipsis;
  }
  .second {
    width: 33%;
    text-overflow: ellipsis;
  }
  .third {
    width: 33%;
    text-overflow: ellipsis;
  }
  .fullTable {
    width: 90%;
    margin: 0px 5% 10px 5%;
  }
  #flexcontainer {
    margin: 0px 100px 10px 100px;
  }
  .leftMove {
    text-align: center !important;
  }
  .urgency-3 {
    background-color: #f17373;
  }
  .urgency-2 {
    background-color: #eded6d;
  }
  .urgency-1 {
    background-color: #74f27c;
  }
  .urgentBox {
    width: 1px;
    height: 1px;
    border-radius: 8px;
    color: black;
  }
  .mdl-button:hover.urgency-3 {
    background-color: rgba(217,42,42,.2) !important;
  }
  .mdl-button:hover.urgency-2 {
    background-color: rgba(249,252,37,.4) !important;
  }
  .mdl-button:hover.urgency-1 {
    background-color: rgba(75,199,110,.2) !important;
  }
</style>
