<h3>{{task.task}}</h3>
<p>{{task.estimatedTime}}</p>
<p>{{task.dueDate}}</p>
<p>{{task.objc}}</p>
<p>{{task.badc}}</p>
<p>{{task.rewar}}</p>
<a href="/tasks/edit/{{task.id}}">Edit Task</a>
<style>
  a {
    font-size: 48px;
  }
</style>
